#plants-list-page-content {
  .plants-list {
    .plant-item-button {
      font-size: inherit;

      display: flex;
      flex-direction: column;
      gap: 4px;
      text-align: start;
      align-content: start;
      padding: 12px 24px;

      .plant-item-alias {
        display: block;
      }

      .plant-item-name {
        display: block;
      }
    }
  }
}
