dl.detailsList {
  dt {
    font-size: var(--text-lg);
    display: flex;
    gap: calc(var(--spacing) * 4);
    align-items: center;
    text-align: center;

    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #999;
    }
  }

  dd {
    text-align: center;
    margin-inline: calc(var(--spacing) * 8);
    margin-block: calc(var(--spacing) * 4);

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: calc(var(--spacing) * 4);
      align-items: center;

      li {
        width: min-content;

        label {
          display: block;

          &:not(:has(:disabled)) {
            cursor: pointer;
          }

          &:has(input[type='checkbox']),
          &:has(input[type='radio']) {
            position: relative;
            --label-bg: rgba(200, 200, 200, 0.1);

            &:has(:checked) {
              --label-bg: rgba(255, 200, 200, 1);
            }
          }

          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--label-bg);
            z-index: -1;
          }

          input {
            display: none;
          }
        }
      }
    }
  }
}
