.content {
  border: 1px solid rgba(0, 0, 0, 40);
  min-height: 100%;
  align-self: stretch;

  .deleteButton {
    justify-self: end;
    background: rgb(200, 100, 100);
    border: none;
    padding: var(--space-2) var(--space-4);
    font-weight: 600;
    color: white;
  }
}
