@import './resets.css';
@import './variables.css';
@import './view_transitions.css';

:root {
  view-transition-name: none;

  font-size: var(--font-size-base);
  font-family: Arial, Helvetica, sans-serif;
}
